/* Start Variables */
:root {
  --main-color: #fa694e;
  --section-padding: 100px;
}
/* End Variables */
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: black;
}
ul {
  list-style: none;
}
.container {
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Meduim */

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
/* Start Header */
.header {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 5;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 97px;
  position: relative;
}
.header .container a img {
  width: 70px;
}
.header .container::before {
  content: "";
  position: absolute;
  height: 1px;
  width: calc(100% - 30px);
  background-color: #a2a2a2;
  bottom: 0;
  left: 15px;
}
.header .logo img {
  height: 40px;
}
.header nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header nav .toggle {
  color: white;
  font-size: 22px;
}
.header nav ul li a {
  color: white;
  display: block;
  font-size: 14px;
  text-decoration: none;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  padding: 40px 10px;
  position: relative;
  z-index: 3;
}
@media (min-width: 768px) {
  .header nav .toggle {
    display: none;
  }
}
.header nav ul {
  display: flex;
}
@media (max-width: 767px) {
  .header nav ul {
    display: none;
    text-align: center;
  }
  .header nav .toggle:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgb(0 0 0 / 50%);
  }
  .header nav ul li a {
    padding: 20px;
  }
}
.header nav ul li a:hover {
  color: var(--main-color);
}
/* End Header */
/* Start Landing */
.landing {
  background-image: url(../images/landing.jpg);
  background-size: cover;
  min-height: 100vh;
  background-color: #172021;
  position: relative;
}
.landing::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 80%);
}
.landing .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}
.landing .content h2 {
  font-size: 60px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.landing .content p {
  line-height: 1.8;
  text-transform: capitalize;
  letter-spacing: 1px;
  margin-bottom: 30px;
}
.landing .content a {
  text-decoration: none;
  color: white;
  background-color: var(--main-color);
  padding: 12px 35px;
}
/* End Landing */
/* Start Services */
.services {
  background-color: white;
  padding: var(--section-padding) 0;
}
.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 50px;
}
@media (max-width: 992px) {
  .services .container {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .services .container .srv:not(:first-child) {
    margin-top: 50px;
  }
}
.services .container .srv {
  text-align: center;
}
.services .container .srv .icon {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 1px solid #b3b3b3;
  margin: 0 auto 60px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.services .container .srv .icon:hover {
  background-color: var(--main-color);
  color: white;
  border-color: var(--main-color);
}
.services .container .srv .icon:hover i {
  color: #fff;
}
.services .container .srv i {
  line-height: 110px;
  font-size: 45px;
  color: #fa694e;
}
.services .container .srv h2 {
  font-size: 25px;
  text-transform: capitalize;
  font-weight: normal;
  margin-bottom: 50px;
}
.services .container .srv p {
  line-height: 1.8;
  color: #808080;
}
/* End Services */
/* Start Portfolio */
.portfolio {
  background-color: white;
  padding: var(--section-padding) 0;
  text-align: center;
}
.portfolio .text {
  margin-bottom: 70px;
}
.portfolio .text h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: normal;
}
.portfolio .text p {
  color: #808080;
}
.portfolio .content {
  margin: 0 auto 0;
}
.portfolio .content .projects {
  position: relative;
}
@media (min-width: 992px) {
  .portfolio .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
    width: 940px;
  }
  .portfolio .content .projects {
    min-width: 33.333333%;
  }
  .portfolio .content .projects img {
    max-width: 100%;
  }
}
@media (max-width: 991px) {
  .portfolio .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    max-width: 920px;
  }
  .portfolio .content .projects {
    min-width: calc(100% / 2);
  }
  .portfolio .content .projects img {
    max-width: 100%;
  }
}
.portfolio .content .mask {
  position: absolute;
  width: 100%;
  height: calc(100% - 4px);
  top: 0px;
  left: 0;
  background-color: rgb(0, 0, 0, 0.5);
  transition: 0.4s;
  opacity: 0;
}
.portfolio .content .mask a {
  text-decoration: none;
}
.portfolio .content .mask a i {
  font-size: 35px;
  color: white;
  background-color: var(--main-color);
  width: 50px;
  height: 50px;
  line-height: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.portfolio .content .mask:hover {
  opacity: 1;
}
/* End Portfolio */
